src/resources/etc/resources/factoryResources.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="factoryResources">
    	<xs:complexType>
      		<xs:sequence>
        		<xs:element name="contextFactory" minOccurs="1" maxOccurs="1">
          			<xs:complexType>
            			<xs:sequence>
			            	<xs:element name="factory" minOccurs="1" maxOccurs="unbounded">
			                	<xs:complexType>
			                  		<xs:sequence>
			                    		<xs:element type="xs:string" name="class" minOccurs="1" maxOccurs="1"/>
			                    		<xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1"/>
			                  		</xs:sequence>
			                 		<xs:attribute type="xs:string" name="id" use="required"/>
			                  		<xs:attribute name="type" use="required">
			                  			<xs:simpleType>
									    	<xs:restriction base="xs:string">
									        	<xs:enumeration value="WEBLOGIC"/>
									        	<xs:enumeration value="WEBSPHERE"/>
									        	<xs:enumeration value="GLASSFISH"/>
									        	<xs:enumeration value="JBOSS"/>
									        	<xs:enumeration value="TOMCAT"/>
									    	</xs:restriction>
										</xs:simpleType>
			                  		</xs:attribute>
			                  		<xs:attribute type="xs:boolean" name="default" use="optional"/>
			                	</xs:complexType>
			              	</xs:element>
            			</xs:sequence>
          			</xs:complexType>
        		</xs:element>
        		<xs:element name="ldapFactory" minOccurs="1" maxOccurs="1">
          			<xs:complexType>
            			<xs:sequence>
              				<xs:element name="factory" minOccurs="1" maxOccurs="unbounded">
                				<xs:complexType>
                  					<xs:sequence>
					                    <xs:element type="xs:string" name="class" minOccurs="1" maxOccurs="1"/>
					                    <xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
                  					<xs:attribute type="xs:string" name="id" use="required"/>
                  					<xs:attribute type="xs:boolean" name="default" use="optional"/>
                				</xs:complexType>
              				</xs:element>
            			</xs:sequence>
          			</xs:complexType>
        		</xs:element>
        		<xs:element name="persistenceFactory" minOccurs="1" maxOccurs="1">
          			<xs:complexType>
            			<xs:sequence>
              				<xs:element name="factory" minOccurs="1" maxOccurs="unbounded">
                				<xs:complexType>
                  					<xs:sequence>
                    					<xs:element type="xs:string" name="class" minOccurs="1" maxOccurs="1"/>
                    					<xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1"/>
                  					</xs:sequence>
                  					<xs:attribute type="xs:string" name="id" use="required"/>
                  					<xs:attribute name="type" use="required">
										<xs:simpleType>
										    <xs:restriction base="xs:string">
										        <xs:enumeration value="MSSQL"/>
										        <xs:enumeration value="SYBASE"/>
										        <xs:enumeration value="DB2"/>
										        <xs:enumeration value="ORACLE"/>
										        <xs:enumeration value="MYSQL"/>
										        <xs:enumeration value="POSTGRESQL"/>
										        <xs:enumeration value="FIREBIRD"/>
										        <xs:enumeration value="INFORMIX"/>
										    </xs:restriction>
										</xs:simpleType>
                  					</xs:attribute>
                  					<xs:attribute type="xs:boolean" name="default" use="optional"/>
                				</xs:complexType>
              				</xs:element>
            			</xs:sequence>
          			</xs:complexType>
        		</xs:element>
      		</xs:sequence>
    	</xs:complexType>
  	</xs:element>
</xs:schema>