src/resources/etc/resources/persistenceResources.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 	<xs:element name="persistenceResources">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="persistence" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
                            <xs:element type="xs:string" name="serverName" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:short" name="serverPort" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="repositoryId" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="lookupName" minOccurs="0" maxOccurs="1"/>
							<xs:element name="options" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="option" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="id" use="required"/>
														<xs:attribute type="xs:string" name="value" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="required"/>
						<xs:attribute type="xs:short" name="timeout" use="optional"/>
						<xs:attribute type="xs:string" name="contextResourceId" use="optional"/>
						<xs:attribute type="xs:string" name="factoryResourceId" use="optional"/>
						<xs:attribute type="xs:boolean" name="default" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>